@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

html {
  @apply overscroll-none bg-bunker-950 font-montserrat text-white;
}

:root {
  --sky-500: theme("colors.sky.500");
  --bunker-800: theme("colors.bunker.800");
  --bunker-900: theme("colors.bunker.900");
}
